<div class="container" >
  <div class="row">  
    <div class="col-md-12"> 
      <div class="center">
       <h2><strong>Get Started With Internet Banking</strong></h2>
      </div>
      <div class="button">
      <button class="btn btn-primary" (click)="goToPage('login')" style="margin:10px">Internet Banking Login</button>
      <button class="btn btn-primary" (click)="goToPage('openacc')" style="margin:20px">Open Savings Account</button>
    </div>
    <!--<a routerLink="/openacc" routerLinkActive="active" style="margin:10px">open Savings Account</a>-->
    <!--<a routerLink="/adminlogin" routerLinkActive="active" style="margin:10px">Admin Login</a>--> 
    
    <!--<img src="..\assets\digital-money.jpg" width="800" height="800"/>-->
</div>
</div>