.card{
    border:none;
    width: 500px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgb(176, 215, 243);
    background:linear-gradient(90deg,rgb(166, 209, 240) 0%, rgb(200, 176, 248) 100%);
    }
