<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h3>Set New Password</h3>

        </div>
        <br />
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Login Password</label>
            <input formControlName="loginPassword" placeholder="Enter your Login Password" type="password"
              class="form-control" id="exampleInputpassword" aria-describedby="emailHelp">
            <small *ngIf="addForm.get('loginPassword').invalid && addForm.get('loginPassword').touched"
              class="text-danger">Login Password is Required</small>
            <div *ngIf="submitted && addForm.controls['loginPassword'].errors" class="error">
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Login Password</label>
            <input formControlName="confirmLoginPassword" placeholder="Enter your Password" type="password"
              class="form-control" id="exampleInputnewPassword">
            <small *ngIf="addForm.get('confirmLoginPassword').invalid && addForm.get('confirmLoginPassword').touched"
              class="text-danger">This field is Required</small>
            <div *ngIf="submitted && addForm.controls['confirmLoginPassword'].errors" class="error">
            </div>
          </div>
          <!-- <div class="mb-3">
            <div class="form-group">
              <label for="transactionPassword">Transaction Login password:</label>
              <input formControlName="transactionPassword" placeholder="Transaction Login password"
                name="transactionPassword" class="form-control" id="transactionPassword">
              <div *ngIf="submitted && addForm.controls['transactionPassword'].errors" class="error">
                <div class="text-danger" *ngIf="addForm.controls['transactionPassword'].errors['required']">
                  This field is required</div>
              </div>
            </div>
          </div>
          <div class="mb-3">
          <div class="form-group">
            <label for="confirmTransactionPassword">Confirm Transaction Login password:</label>
            <input formControlName="confirmTransactionPassword" placeholder="Confirm Transaction Login password"
              name="confirmTransactionPassword" class="form-control" id="confirmTransactionPassword">
            <div *ngIf="submitted && addForm.controls['confirmTransactionPassword'].errors" class="error">
              <div class="text-danger" *ngIf="addForm.controls['confirmTransactionPassword'].errors['required']">This
                field is required</div>
            </div>
          </div>
        </div>   -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>