<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h3>Password Reset</h3>
          <p>Enter Details</p>
        </div>

        <form [formGroup]="addForm" (ngSubmit)="doLogin()"> 
          <div class="mb-3">
            <label for="accountNumber" class="form-label">Enter Account Number:</label>
            <input formControlName="accountNumber" placeholder="Enter Account Number" class="form-control"
              id="accountNumber">
            <small *ngIf="addForm.get('accountNumber').invalid && addForm.get('accountNumber').touched"
              class="text-danger">Account Number is Required</small>
            <div *ngIf="submitted && addForm.controls['accountNumber'].errors" class="error">
            </div>
          </div>
          <label for="exampleInputUserid" class="form-label">Select Secret Question:</label>
          <select select class="form-control" placeholder="Please select Secret Question" name="secretQuestion">
            <option value="petName">Name of your first Pet?</option>
            <option value="hospital">Hospital your born in?</option>
            <option value="favMovie">Your Favorite Movie?</option>
            <option value="secret">Or a secret you Know?</option>
          </select>

          <!-- <div class="mb-3">
                <label for="exampleInputOTP" class="form-label">Enter OTP</label>
                <input formControlName="otp" placeholder="Enter OTP" type="otp" class="form-control" id="otp">
                <small *ngIf="addForm.get('otp').invalid && addForm.get('otp').touched" class="text-danger">OTP is Required</small>
              </div> -->

          <div class="mb-3">
            <label for="exampleInputUserid" class="form-label">Enter Secret Answer:</label>
            <input formControlName="answer" placeholder="Enter Your Secret Answer" class="form-control" id="answer">
            <small *ngIf="addForm.get('answer').invalid && addForm.get('answer').touched" class="text-danger">Answer is
              Required</small>
            <div *ngIf="submitted && addForm.controls['answer'].errors" class="error">
            </div>
          </div>

          <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Submit</button>

          <!-- <button type="submit" class="btn btn-primary"  style="margin:10px">Back</button> -->


        </form>

        <!-- <a style="color: rgb(40, 26, 165); margin-top: 10px;"[routerLink]="['/setnewpassword']"> </a>-->
      </div>
    </div>
  </div>
</div>